.icon-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.icon-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.time {
  position: absolute;
  top: 0px
}

.location {
  position: absolute;
  bottom: 0px
}

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.winter i {
  color: blue;
}

.summer i {
  color: red;
}

.winter {
  background-color: aliceblue;
}

.summer {
  background-color:bisque;
}